@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Montserrat:wght@100&display=swap');

body {
  background-color: #e3e3e0;
  color: #848484;
  font-family: "Epilogue", sans-serif;
  letter-spacing: 1px;
}

p{
  line-height: 30px;
}

a{
  color: #3E6B13;
  text-decoration: none
}

h1,h2,h3 {
  margin: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #19320e;
  padding: 30px 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: #19320e;
}

img {
  width: 200px;
}

ul{
  list-style: none;
  padding: 0;
}
li{
  padding: 30px;
  border: 1px solid gray;
}

li:hover{
  box-shadow: 2px 2px 6px gray;
}

#first-list{
  display: flex;
  justify-content: space-between;
}

ul#second-list{
  display: flex;
}

ul#second-list li{
flex-grow: 1;
margin: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.sale{
  color: red;
}

.out-of-stock{
  color: blue;
}

.border{
  border: 1px solid black;
}
